<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="layout(container)">
<head>
    <meta charset="UTF-8">
    <title>Car expenses</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <script th:src="@{js/uikit.min.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
    <style type="text/css">
        table tbody tr:nth-of-type(even) { background-color: #FFFFFF; }
        table tbody tr:nth-of-type(odd) { background-color: #C0C0C0; }
    </style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="${container}"></div>

</body>
</html>
