<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout(~{::.uk-container})}">
<body>
<div class="uk-container uk-flex uk-flex-center uk-padding-small">
    <div class="uk-width-1-4">
        <div class="uk-container">
            <form class="uk-form-stacked uk-align-left uk-flex uk-flex-left" th:action="@{/constant}"
                  th:object="${constantadd}" method="post">
                <fieldset>
                    <legend class="uk-legend uk-text-bold" style="color: #0f6ecd">Wprowadź dane</legend>
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-text-bold">Data: </label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-medium" type="date" th:field="*{constantCostsDate}"
                                   required="required"/>
                            <p th:if="${#fields.hasErrors('constantCostsDate')}" th:errors="*{constantCostsDate}"
                               class="uk-margin-small" style="color: red; font-size: small"></p>
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-text-bold" for="description">Opis: </label>
                        <div class="uk-form-controls">
                            <select style="font-size: 13px" id="description" type="text"
                                    th:field="*{description}" required="required">
                                <option value="Rata kredytu/leasingu">Rata kredytu/leasingu</option>
                                <option value="Wynajem długoterminowy">Wynajem długoterminowy</option>
                                <option value="Okresowe badanie techniczne">Okresowe badanie techniczne</option>
                                <option value="Ubezpieczenie (OC)">Ubezpieczenie (OC)</option>
                                <option value="Ubezpieczenie (inne)">Ubezpieczenie (inne)</option>
                                <option value="Płatne miejsce parkowania">Płatne miejsce parkowania</option>
                                <option value="Inne">Inne</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-text-bold" for="constantCost">Zapłacono: </label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-medium" id="constantCost" type="text"
                                   th:field="*{constantCost}" pattern="((?:\d+\.\d*)|(?:\d*\.?\d+))"
                                   title="Podaj liczbę dodatnią - wartość dziesiętną oddziel kropką"
                                   required="required">
                            <p th:if="${#fields.hasErrors('constantCost')}" th:errors="*{constantCost}"
                               class="uk-margin-small" style="color: red; font-size: small"></p>
                        </div>
                    </div>
                    <button type="submit" class="uk-button uk-button-primary uk-button-small">Zapisz</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="uk-width-3-4 uk-flex uk-flex-center">
        <div class="uk-container">
            <table class="uk-align-right" border="2" style="width: 100%; table-layout: fixed">
                <caption style="width: 100%" class="uk-text-bold uk-text-center">Wydatki stałe</caption>
                <thead style="color: black">
                <tr style="background-color: #0f6ecd">
                    <th class="uk-width-small">Id</th>
                    <th class="uk-width-medium">Data</th>
                    <th class="uk-width-2xlarge">Opis</th>
                    <th class="uk-width-medium">Zapłacono</th>
                </tr>
                </thead>
                <tbody style="width: 100%">
                <tr th:each="constant: ${constantcosts}">
                    <td th:text="${constant.id}"></td>
                    <td th:text="${#dates.format(constant.constantCostsDate, 'yyyy MM dd')}"></td>
                    <td th:text="${constant.description}"></td>
                    <td th:text="${#numbers.formatDecimal(constant.constantCost, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</form>
</body>
</html>
