<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{js/uikit.min.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
</head>
<body>
<div class="uk-container uk-flex uk-flex uk-flex-center uk-flex-column uk-width-1-2"
     style="background-color: lightgray; width: 100%; height: 100vh">
    <div class="uk-container uk-margin-medium" style="width: 100%">
        <h2 class="uk-text-center uk-text-bold" style="color: black">Error :(</h2>
        <h4 class="uk-text-center uk-text-bold" style="color: black">Przepraszam coś poszło nie tak</h4>
    </div>
    <div class="uk-container uk-margin-medium uk-flex uk-flex-center" style="width: 50%">
        <button class="uk-button uk-button-danger" onClick="history.back();">Wstecz</button>
    </div>
</div>
</div>
</div>
</body>
</html>
