<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout(~{::.uk-container})}">
<body>
    <div class="uk-container uk-flex uk-flex-center uk-padding-small">
        <table class="uk-align-right" border="2" style="width: 100%; table-layout: fixed">
            <caption class="uk-text-bold uk-text-center">Statystyki tankowania</caption>
            <tr>
                <td class="uk-form-width-large">Minimalna kwota wydana na jedno tankowanie</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(minCost, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Maksymalna kwota wydana na jedno tankowanie</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(maxCost, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Srednia kwota wydana na jedno tankowanie</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(avgCost, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Minimalna ilość przejechanych kilometrów na jednym tankowaniu</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(minDist, 1, 'DEFAULT', 2, 'DEFAULT')} + ' km'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Maksymalna ilość przejechanych kilometrów na jednym tankowaniu</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(maxDist, 1, 'DEFAULT', 2, 'DEFAULT')} + ' km'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Srednia przejechanych kilometrow na jednym tankowaniu</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(avgDist, 1, 'DEFAULT', 2, 'DEFAULT')} + ' km'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Ilość przejechanych kilometrów</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(sumDist, 1, 'DEFAULT', 2, 'DEFAULT')} + ' km'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Srednie spalanie</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(avgFuelDist, 1, 'DEFAULT', 2, 'DEFAULT')} + ' l/100km'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Sredni Koszt przejechania 100km (uwzgędniając tylko tankowanie)</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(avgFuelConsupt, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł/100km'"></td>
            </tr>
            <tr>
                <td class="uk-width-large">Suma wydatków na paliwo</td>
                <td class="uk-form-width-medium" th:text="${#numbers.formatDecimal(sumCost, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
            </tr>
        </table>
    </div>
</body>
</html>
