<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout(~{::.uk-container})}">
<body>
<div class="uk-container uk-flex uk-flex-center uk-padding-small">
    <table class="uk-align-right" border="2" style="table-layout: fixed">
        <caption class="uk-text-bold uk-text-center">Statystyki wydatki pozostałe</caption>
        <tr>
            <td class="uk-form-width-large">Minimalna kwota</td>
            <td class="uk-form-width-medium"
                th:text="${#numbers.formatDecimal(minCostOther, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large">Wydana na</td>
            <td class="uk-form-width-medium" th:text="${maxDescriptionOther}"></td>
        </tr>
        <tr>
            <td class="uk-width-large">Maksymalna kwota</td>
            <td class="uk-form-width-medium"
                th:text="${#numbers.formatDecimal(maxCostOther, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large">Wydana na</td>
            <td class="uk-form-width-medium" th:text="${maxDescriptionOther}"></td>
        </tr>
        <tr>
            <td class="uk-width-large">Średnia kwota</td>
            <td class="uk-form-width-medium"
                th:text="${#numbers.formatDecimal(avgCostOther, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large uk-text-bold" style="background-color: #0f6ecd; color: black">Suma wydatków</td>
            <td class="uk-form-width-medium uk-text-bold" style="background-color: #0f6ecd; color: black"
                th:text="${#numbers.formatDecimal(sumCostOther, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
    </table>
</div>
</body>
</html>
