<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout(~{::.uk-container})}">
<head>
    <script>
        function length50(string) {
            var maxLength = 50;
            var oSpan = document.getElementById('counter1');
            oSpan.innerHTML = 'Pozostało Ci jeszcze ' + (maxLength - (string.length)) + ' znaków';
        }
    </script>
</head>
<body>
<div class="uk-container uk-flex uk-flex-center uk-padding-small">
    <div class="uk-width-1-4">
        <div class="uk-container">
            <form class="uk-form-stacked uk-align-left uk-flex uk-flex-left" th:object="${otheradd}" method="post">
                <fieldset>
                    <legend class="uk-legend uk-text-bold">Wprowadź dane</legend>
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-text-bold">Data: </label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-medium" type="date" th:field="*{otherExpensesDate}"
                                   required="required"/>
                            <p class="uk-margin-small" style="font-size: x-small">Data nie może być z przyszłości.</p>
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-text-bold" for="description">Opis: </label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-medium" onkeyup="length50(this.value)" id="description" type="text" th:field="*{description}" required="required">
                            <span id="counter1" style="font-size: x-small">Wprowadź od 3 - 50 znaków.</span><br/>
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-text-bold" for="cost">Zapłacono: </label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-medium" id="cost" type="text" th:field="*{cost}"
                                   pattern="[0-9.]+" required="required">
                            <p class="uk-margin-small" style="font-size: x-small">Podaj liczbę dodatnią. Wartość
                                dziesiętną oddziel kropką.</p>
                        </div>
                    </div>
                    <button type="submit" class="uk-button uk-button-primary uk-button-small">Zapisz</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="uk-width-3-4">
        <div class="uk-container">
            <table class="uk-align-right" border="2" style="width: 100%; table-layout: fixed">
                <caption style="width: 100%" class="uk-text-bold uk-text-center">Pozostałe wydatki</caption>
                <thead>
                <tr>
                    <th class="uk-width-small">Id</th>
                    <th class="uk-width-medium">Data</th>
                    <th class="uk-width-2xlarge">Opis</th>
                    <th class="uk-width-medium">Zapłacono</th>
                </tr>
                </thead>
                <tbody style="width: 100%">
                <tr th:each="other: ${otherexpenses}">
                    <td th:text="${other.id}"></td>
                    <td th:text="${#dates.format(other.otherExpensesDate, 'yyyy MM dd')}"></td>
                    <td th:text="${other.description}"></td>
                    <td th:text="${#numbers.formatDecimal(other.cost, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
