<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{js/uikit.min.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
</head>
<body>
<div class="uk-container uk-flex uk-flex uk-flex-center uk-flex-column uk-width-1-2" style="background-color: lightgray; width: 100%; height: 100vh">
    <div class="uk-container uk-margin-medium" style="width: 100%">
        <h2 class="uk-text-center uk-text-bold" style="color: black">Witaj w aplikacji Car Expenses</h2>
        <h4 class="uk-text-center uk-text-bold" style="color: black">Wydatki na samochód zawsze pod kontrolą</h4>
    </div>
    <div class="uk-container uk-margin-medium uk-flex uk-flex-center uk-flex-column uk-width-1-2" style="width: 100%">
        <div class="uk-container uk-margin-medium">
            <h4 class="uk-text-center uk-text-bold" style="color: black">Wybierz kategorię</h4>
        </div>
        <div class="uk-column-1-4@m uk-column-divider">
        <a th:href="@{/fuel}" class="uk-display-block uk-icon-link uk-margin-small" uk-icon="paint-bucket">
            <p class="uk-text-center uk-text-bold uk-margin-medium" style="color: black">Tankowanie</p></a>
        <a href="#" class="uk-display-block uk-icon-link uk-margin-small" uk-icon="cog">
            <p class="uk-text-center uk-text-bold uk-margin-medium" style="color: black">Serwis</p></a>
        <a href="#" class="uk-display-block uk-icon-link uk-margin-small" uk-icon="database">
            <p class="uk-text-center uk-text-bold uk-margin-medium" style="color: black">Stałe</p></a>
        <a href="#" class="uk-display-block uk-icon-link uk-margin-small" uk-icon="database">
            <p class="uk-text-center uk-text-bold uk-margin-medium" style="color: black">Różne</p></a>
        </div>
    </div>
</div>
</body>
</html>
