<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car expenses</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{js/uikit.min.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
</head>
<body>
<div class="uk-align-center uk-container uk-grid uk-padding-small">
    <div class="uk-margin-medium uk-padding-small">
        <li>
            <a title="Wyloguj" th:href="@{/logout}" class="uk-icon-link uk-position-top-right" uk-icon="icon: sign-out; ratio: 2">Wyloguj</a>
        </li>
        <h2 class="uk-text-center uk-text-bold" style="color: black">Witaj w aplikacji Car Expenses</h2>
    </div>

    <div class="uk-section uk-section-secondary uk-padding-small">
        <div class="uk-container uk-padding-small">

            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div>
                    <h3 class="uk-margin-small">Wydatki</h3>
                    <ul class="uk-margin-small">
                        <li>
                            <a title="Wydatki na zakup paliwa" th:href="@{/fuel}" class="uk-icon-link"
                               uk-icon="paint-bucket">Paliwo </a>
                        </li>
                        <li>
                            <a title="Wydatki serwisowe" th:href="@{/service}" class="uk-icon-link"
                               uk-icon="cog">Serwis </a>
                        </li>
                        <li>
                            <a title="Koszty stałe" th:href="@{/constant}" class="uk-icon-link" uk-icon="database">Koszty
                                stałe </a>
                        </li>
                        <li>
                            <a title="Pozostałe wydatki" th:href="@{/other}" class="uk-icon-link"
                               uk-icon="more">Różne </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="uk-margin-small">Statystyki</h3>
                    <ul class="uk-margin-small">
                        <li>
                            <a title="Statystyki na zakup paliwa" th:href="@{/fuelstat}" class="uk-icon-link"
                               uk-icon="paint-bucket">Paliwo </a>
                        </li>
                        <li>
                            <a title="Statystyki serwisowe" th:href="@{/servicestat}" class="uk-icon-link"
                               uk-icon="cog">Serwis </a>
                        </li>
                        <li>
                            <a title="Statystyki koszty stałe" th:href="@{/constantstat}" class="uk-icon-link"
                               uk-icon="database">Koszty stałe </a>
                        </li>
                        <li>
                            <a title="Statystyki pozostałe wydatki" th:href="@{/otherstat}" class="uk-icon-link"
                               uk-icon="more">Różne </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <table>
        <caption class="uk-text-bold" align="top" style="font-size: x-large; color: black">Zestawienie wydatków</caption>
        <tr>
            <td class="uk-width-large" style="background-color: #d2d2d2">Paliwo</td>
            <td class="uk-form-width-medium" style="background-color: #d2d2d2"
                th:text="${#numbers.formatDecimal(sumCostFuel, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large" style="background-color: #d2d2d2">Serwis</td>
            <td class="uk-form-width-medium" style="background-color: #d2d2d2"
                th:text="${#numbers.formatDecimal(sumCostService, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large" style="background-color: #d2d2d2">Koszty stałe</td>
            <td class="uk-form-width-medium" style="background-color: #d2d2d2"
                th:text="${#numbers.formatDecimal(sumCostConst, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large" style="background-color: #d2d2d2">Różne</td>
            <td class="uk-form-width-medium" style="background-color: #d2d2d2"
                th:text="${#numbers.formatDecimal(sumCostOther, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large uk-text-bold" style="background-color: #d2d2d2">Całkowity koszt</td>
            <td class="uk-form-width-medium uk-text-bold" style="background-color: #d2d2d2"
                th:text="${#numbers.formatDecimal(sumTotal, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
        <tr>
            <td class="uk-width-large" style="background-color: #d2d2d2">Koszt przejechania 100 km</td>
            <td class="uk-form-width-medium" style="background-color: #d2d2d2"
                th:text="${#numbers.formatDecimal(costKm, 1, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"></td>
        </tr>
    </table>
</div>
</body>
</html>
